.wrapper {
  padding: 3rem;
}

.title {
  color: white;
  text-align: center;
}

.list {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.card {
  background-color: #323643;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s;
  cursor: pointer;
}

.card:hover {
  position: relative;
  transform: scale(1.2);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card:hover .photo {
  border: 1px solid #666666;
}

.link {
  display: grid;
  grid-template-rows: 7fr repeat(3, min-content);
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

.photo {
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  min-width: 150px;
}

.name {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  font-style: italic;
  font-size: 20px;
}

.industry-list {
  margin: 0.5rem 0.5rem 0 0;
  text-align: right;
  font-size: 14px;
}

.net-worth {
  text-align: right;
  margin-right: 0.5rem;
  font-size: 14px;
}
